.c-button {
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.c-button.--pri {
    background-color: #0F4C70;
    border: none;
    color: #fff;
}

.c-button.--sec {
    background-color: #fff;
    border: 2px solid #0F4C70;
    color: #0F4C70;
}

.c-button.--ter {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #0F4C70;
}

.c-button.--submit {
    margin-top: 24px;
}

.c-button.--pw-recovery {
    text-align: left;
}

.c-buttons__wrapper.--pw-recovery {
    width: 120px;
}

.c-button__content.--pw-recovery {
    font-size: 12px;
}

.c-button.--enterWithGoogle {
    background-color: #fff;
    border: 1px solid #f00;
    color: #f00;
}

.c-button.--back,
.c-button.--goToList {
    text-decoration: none;
    width: initial;
}

.c-button__content.--back {
    margin-left: 12px;
}

.c-button__content.--goToList {
    margin-right: 12px;
    font-size: 24px;
    font-weight: 600;
}

.c-button__background.--newButton {
    background-image: linear-gradient(transparent, #fff);
    display: flex;
    height: 90px;
    inset: auto 0 0 0;
    position: absolute;
}

.c-button.--newButton {
    margin-left: auto;
    transition: all 0.3s linear;
    width: initial;
    z-index: 1;
}

.c-button__img.--newButton {
    transition: transform 0.2s ease-in-out;
}
.c-button__img.--newButton.--isShowing {
    transform: rotate(45deg);
}

.c-button__wrapper.--createButton {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    inset: auto auto 24px 24px;
    width: 150px;
    transform: translateX(-190px);
    opacity: 0;
}
.c-button__wrapper.--createButton.--isShowing {
    transform: translateX(0);
    opacity: 1;
}

.c-button.--createButton {
    text-align: left;
    border: none;
    padding: 0 12px;
    text-transform: capitalize;
}

.c-button__img.--createButton {
    margin-right: 12px;
}

.backdrop {
    background-color: rgba(0, 0, 0, .35);
    height: 100vh;
    width: 100vw;
    position: absolute;
    inset: 0 0 0 0;
    display: none;
}
.backdrop.--isShowing {
    display: inline-block;
}