.c-forms {
    text-align: center;
    width: 100%;
}

.c-forms, .c-fieldset, .c-form__background {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.c-forms__wrapper {
    padding: 16px 24px;
}

.--login .c-fieldset__legend.--login {
    font-weight: bold;
    margin-bottom: 16px;
}

.c-fieldset.--login { border: none; }

.c-fieldset.--std {
    padding: 24px;
    border-color: #0F4C70;
    border-radius: 8px;
}

.c-fieldset__legend { 
    background: white;
    color: #0F4C70;
    font-size: 24px;
    padding: 0 8px;
    text-align: center;
 }

.c-label {
    width: 100%;
    text-transform: capitalize;
}
