.c-forms {
    text-align: center;
    width: 100%;
}

.c-forms, .c-fieldset, .c-form__background {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.--login .c-fieldset__legend {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.c-fieldset { border: none; }
.c-fieldset__legend { color: #0F4C70; }