/* Base */
@import url('base/generics.css');

/* Components */
@import url('components/App.css');
@import url('components/buttons.css');
@import url('components/divider.css');
@import url('components/forms.css');
@import url('components/inputs.css');
@import url('components/logo.css');

/* layouts */
@import url('layouts/login.css');
