* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto','Ubuntu','Helvetica Neue', 'Raleway', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}